* {
    background-color: bisque;
}
img {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    border: 10px solid#61205e;
}

h1, h2, h3  {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a {
    font-size:larger;
}

ol, ul {
    color: #f80606;
}